<ul>
	<li>
		<%= link_to "Matilda", 'movies/matilda' %>
	</li>
	<li>
		<%= link_to "Goonies", 'movies/goonies' %>
	</li>
	<li>
		<%= link_to "Galdiator", 'movies/gladiator' %>
	</li>
	<li>
		<%= link_to "Brooklyn Nine Nine", 'shows/b99' %>
	</li>
	<li>
		<%= link_to "Friends", 'shows/friends' %>
	</li>
	<li>
		<%= link_to "Seinfeld", 'shows/seinfeld' %>
	</li>
</ul>